
{{ $url := $.Site.BaseURL }}
{{ $image := .Params.image | urlize }}
{{ $date := .Date.Format "Mon Jan 02, 2006" }}
{{ $title := .Title }}
<!-- TODO: Figure out why line height causes issues here -->
<div class="flex-item flex-item-spacing no-line-height">
    <div class="relative rounded-corners z-depth-1 lazyload" data-noscript="">
        <noscript>
            <a href="{{ $url }}{{ $image }}" loading="lazy" data-lightbox="gallery" data-title="<a href='/contact'><button class='page-item-btn'> Request Quote</button></a>">
                <img src="{{ $url }}{{ $image }}"
                     class="fill-container-width rounded-corners z-depth-1" loading="lazy" />
                <div class="highlight-block rounded-corners">
                    <h3 class="white-text"></h3>
                </div>
            </a>
        </noscript>
    </div>
</div>

