
/* ========================================================================= */
/* = NAVBAR MENU                                                             */
/* ========================================================================= */

/* Represents the main menu that is fixed to the left side of the page. */
/* Has a high z-index such that children can appear outside of its width. */
.main-menu {
    display: block;
    position: fixed;
    width: 70px;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 999;
    text-align: center;
}

.menu-vertical-scroll {
    overflow-y: scroll;
}

/* Represents the standard foreground/background colors of a menu. */
.menu-colors {
    background-color: #455A64;
    color: #FFFFFF;
}

ul.menu {
    display: block;
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-indent: 0px;
    white-space: nowrap;
}

span.drop-right {
    display: block;
    box-shadow:inset 2px 0px 0px #90a4ae;
    position: absolute;
    left: 0px;
    width:100%;
    height: 100%;
    top: 0px;
}

ul.menu li.active {
    background-color: rgba(0, 0, 0, 0.1);
}

ul.menu ul {
    opacity:0;
    position: absolute;
    top: 0%;
    left: 160%;
    visibility: hidden;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}

ul.menu li:hover > ul {
    opacity: 1;
    top: 0%;
    left: 100%;
    visibility: visible;
}

ul.menu li {
    float: left;
  
    /* Needed */
    position: relative;
}

/* ========================================================================= */
/* = MISC                                                                    */
/* ========================================================================= */

.row-colors {
    background-color: #455A64;
    color: #FFFFFF;
}

.page-colors {
    background-color: #90a4ae;
    color: rgba(0, 0, 0, 0.87);
}

.article-colors {
    background-color: #FFFFFF;
    color: rgba(0, 0, 0, 0.87);
}

.main-content {
    padding-left: 70px;
    width: 100%;
}

.main-content article {
    height: 100%;
    padding-left: 30px;
    padding-right: 30px;
}

.fill-container {
    width: 100%;
    height: 100%;
}

.fill-container-width {
    width: 100%;
    height: auto;
}

.no-display {
    display: none;
}

.horizontal-center-hack {
    margin: 0 auto;
}

.face {
    fill: #FFFFFF;
    width: 6rem;
    height: 6rem;
}

.cell {
    position: relative;
    border: 1px solid #FFF;
}

.clearfix:before,
.clearfix:after {
    content: ".";    
    display: block;    
    height: 0;    
    overflow: hidden; 
}

.clearfix:after { 
    clear: both; 
}

.clearfix {
    zoom: 1;
} /* IE < 8 */

.no-padding: {
    padding: 0px;
}

.no-margin {
    margin: 0px;
}

.article-title {
    margin-top: 0px;
}

ul.tags {
    list-style: none;
}

ul.tags li {
    display: inline;
    color: #BDBDBD;
}

ul.tags li a {
    color: #BDBDBD;
}

/* ========================================================================= */
/* = PARALLAX                                                                */
/* ========================================================================= */

/* Modified from keithclark.co.uk/articles/pure-css-parallax-websites/ */
.parallax {
    -moz-perspective: 300px;
    -webkit-perspective: 300px;
    perspective: 300px;

    height: 500px; /* fallback for older browsers */
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;

    /* Fix for webkit browsers */
    -moz-perspective-origin-x: 100%;
    -webkit-perspective-origin-x: 100%;
    perspective-origin-x: 100%;
}

.parallax__group {
    position: relative;
    height: 500px; /* fallback for older browsers */
    height: 100vh;

    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.parallax__layer {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;

    /* Fix for webkit browsers */
    -moz-transform-origin-x: 100%;
    -webkit-transform-origin-x: 100%;
    transform-origin-x: 100%;
}

.parallax__layer--fore {
    -moz-transform: translateZ(90px) scale(.7);
    -webkit-transform: translateZ(90px) scale(.7);
    transform: translateZ(90px) scale(.7);
    z-index: 1;
}

.parallax__layer--base {
    -moz-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 4;
}

.parallax__layer--back {
    -moz-transform: translateZ(-300px) scale(2);
    -webkit-transform: translateZ(-300px) scale(2);
    transform: translateZ(-300px) scale(2);
    z-index: 3;
}

.parallax__layer--deep {
    -moz-transform: translateZ(-600px) scale(3);
    -webkit-transform: translateZ(-600px) scale(3);
    transform: translateZ(-600px) scale(3);
    z-index: 2;
}

/* ========================================================================= */
/* = SPACING                                                                 */
/* ========================================================================= */

/* Materialize small */
@media only screen and (max-width: 600px) {
    .center-space {
        padding: 0%;
    }
}

/* Materialize medium */
@media only screen and (min-width: 601px) {
    .center-space {
        padding: 0% 5%;
    }
}

/* Materialize large */
@media only screen and (min-width: 993px) {
    .center-space {
        padding: 0% 10%;
    }
}

/* ========================================================================= */
/* = HIGHLIGHT BLOCK                                                         */
/* ========================================================================= */

.highlight-block {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #FFF;
    background-color: rgba(240, 95, 64, 0.5);
    opacity: 0.0;
    transition: all 0.35s;
}

.highlight-block:hover {
    opacity: 1.0;
}

/* ========================================================================= */
/* = LISTS                                                                   */
/* ========================================================================= */

ul.main-page-footer li {
    color: #FFFFFF;
    font-size: 2em;
}

ul.main-page-footer li a {
    color: #FFFFFF;
}

ul.no-list-float li {
    float: none;
}

.horizontal li {
    display: inline;
}

.no-bullets li {
    list-style-type: none;
    padding: 5px;
}


/* ========================================================================= */
/* = COLUMNS                                                                 */
/* ========================================================================= */

.col-padding {
    padding: 35px 50px;
}

.ignore-col-padding {
    padding: -35px -50px;
}

.no-padding {
    padding: 0px;
}

/* ========================================================================= */
/* = FORMS                                                                   */
/* ========================================================================= */

.large-form input[type=text] {
    font-size: 5rem;
    height: 7rem;
}

/* ========================================================================= */
/* = PAGINATION                                                              */
/* ========================================================================= */

ul.pagination {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.pagination li {
    float: none;
    display: inline-block;
    vertical-align: middle;
}

.pagination li.active {
    background-color: #03a9f4;
}

.pagination li.disabled a {
    color: #999999;
}

.pagination li a {
    color: #000000;
}

/* ========================================================================= */
/* = PAGE SUMMARY                                                            */
/* ========================================================================= */

.flex-container {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
}

.flex-item {
    display: inline-block;
}

/* Materialize small */
@media only screen and (max-width: 600px) {
    .flex-item {
        width: 100%;
    }
}

/* Materialize medium */
@media only screen and (min-width: 601px) {
    .flex-item {
        width: 50%;
    }
}

/* Materialize large */
@media only screen and (min-width: 993px) {
    .flex-item {
        width: 33.33%;
    }
}

