
/* ========================================================================= */
/* = MISC                                                                    */
/* ========================================================================= */

.face {
    fill: #FFFFFF;
    width: 6rem;
    height: 6rem;
}

.cell {
    position: relative;
    border: 1px solid #FFF;
}

/* ========================================================================= */
/* = HIGHLIGHT BLOCK                                                         */
/* ========================================================================= */

.highlight-block {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #FFF;
    background-color: rgba(240, 95, 64, 0.5);
    opacity: 0.0;
    transition: all 0.35s;
}

.highlight-block:hover {
    opacity: 1.0;
}

/* ========================================================================= */
/* = LISTS                                                                   */
/* ========================================================================= */

ul.no-list-float li {
    float: none;
}

.horizontal li {
    display: inline;
}

.no-bullets li {
    list-style-type: none;
    padding: 5px;
}


/* ========================================================================= */
/* = COLUMNS                                                                 */
/* ========================================================================= */

.col-padding {
    padding: 35px 50px;
}

.ignore-col-padding {
    padding: -35px -50px;
}

/* ========================================================================= */
/* = FORMS                                                                   */
/* ========================================================================= */

.large-form input[type=text] {
    font-size: 5rem;
    height: 7rem;
}

/* ========================================================================= */
/* = PAGINATION                                                              */
/* ========================================================================= */

ul.pagination {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.pagination li {
    float: none;
    display: inline-block;
    vertical-align: middle;
}

.pagination li.active {
    background-color: #03a9f4;
}

.pagination li.disabled a {
    color: #999999;
}

.pagination li a {
    color: #000000;
}

/* ========================================================================= */
/* = PAGE SUMMARY                                                            */
/* ========================================================================= */

.flex-container {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
}

.flex-item {
    display: inline-block;
}

/* Materialize small */
@media only screen and (max-width: 600px) {
    .flex-item {
        width: 100%;
    }
}

/* Materialize medium */
@media only screen and (min-width: 601px) {
    .flex-item {
        width: 50%;
    }
}

/* Materialize large */
@media only screen and (min-width: 993px) {
    .flex-item {
        width: 33.33%;
    }
}

