{{ partial "core/html-start.html" . }}

{{ partial "core/head.html" . }}

<body class="page-colors minimum-viewport-height">
    {{ partial "core/main-menu.html" . }}

    <div class="main-content">
        <div class="center-space">
            <div class="article-colors">
                {{ with .Params.image }}
                    <img src="{{ . }}" class="fill-container-width"></img>
                {{ end }}
                <article>
                    <header>
                        <h1 class="article-title">{{ .Title }}</h1>
                        <time class="date-color">{{ .Date.Format "Mon Jan 02, 2006" }}</time>
                        <span class="separator">|</span>
                        {{ partial "extra/categories.html" . }}
                        <span class="separator">|</span>
                        {{ partial "extra/tags.html" . }}
                    </header>

                    <hr>

                    <section>
                        {{ with .Params.redirect }}
                            <p>If you are not redirected automatically, follow the <a href="{{ . }}">link</a>.</p>
                        {{ else }}
                            {{ .Content }}
                        {{ end }}
                    </section>

                    <footer class="right-align">
                        <p><small>{{ .Site.Copyright | markdownify }}</small></p>
                    </footer>

                    {{ partial "extra/disqus.html" . }}
                </article>
            </div>
        </div>
    </div>

    {{ partial "core/js.html" . }}
</body>

{{ partial "core/html-end.html" . }}

