{{ partial "html-start.html" . }}
{{ partial "head.html" . }}

<body>
    {{ partial "main-menu.html" . }}

    <section class="main-content">
        <div class="flex-container">
            {{ range .Paginator.Pages }}
                <div class="flex-item">
                    {{ partial "page-item.html" . }}
                </div>
            {{ end }}
        </div>
        {{ partial "pagination.html" . }}
    </section>

    {{ partial "js.html" . }}
</body>

{{ partial "html-end.html" . }}

