{{ partial "html-start.html" . }}
{{ partial "head.html" . }}

<body class="blue-grey darken-2">
    <style>
        ul.no-list-float li {
            float: none;
        }
    </style>
    <nav class="blue-grey darken-2 white-text center-align" style="position: fixed; width: 70px; height: 100%; top: 0; left: 0;">
        <ul class="no-list-float" style="list-style: none; padding: 0px; text-indent: 0px;">
            <li><a href="{{ .Site.BaseURL }}"><i class="fa fa-home fa-2x"></i></a></li>
            <li><a href="#"><i class="fa fa-search fa-2x"></i></a></li>
            <li><a href="#"><i class="fa fa-rss fa-2x"></i></a></li>
        </ul>
    </nav>

    <section style="padding-left: 70px; width: 100%;">
        <div class="row">
        {{ range .Paginator.Pages }}
            <div class="col s12 m6 l4">
                <div class="card blue-grey darken-2">
                    <div class="card-content white-text">
                        <span class="card-title">{{ .Title }}</span>
                        <p>{{ .Summary }}</p>
                    </div>
                    <div class="card-action">
                        <a href="{{ .Permalink }}">Read More</a>
                    </div>
                </div>
            </div>
        {{ end }}
        </div>
        <div class="row">
            <ul class="pagination">
                {{ with .Paginator }}
                <li class="{{ if .HasPrev }}waves-effect{{ else }}disabled{{ end }}">
                    <a href="{{ if .HasPrev }}{{ .Prev.URL }}{{ else }}#!{{ end }}">
                        <i class="material-icons">chevron_left</i>
                    </a>
                </li>
                {{ $currentPageNumber := .PageNumber }}
                {{ range .Pagers }}
                    <li class="{{ if eq $currentPageNumber .PageNumber }}active{{ else }}waves-effect{{ end }}">
                        <a href="{{ .URL }}">{{ .PageNumber }}</a>
                    </li>
                {{ end }}
                <li class="{{ if .HasNext }}waves-effect{{ else }}disabled{{ end }}">
                    <a href="{{ if .HasNext }}{{ .Next.URL }}{{ else }}#!{{ end }}"><i class="material-icons">chevron_right</i></a>
                </li>
                {{ end }}
            </ul>
        </div>
    </section>
</body>

{{ partial "html-end.html" . }}

