{{ partial "html-start.html" . }}
{{ partial "head.html" . }}

<body>
    <style>
        ul.no-list-float li {
            float: none;
        }

        ul.pagination {
            display: inline-block;
            width: 100%;
            text-align: center;
        }

        .pagination li {
            float: none;
            display: inline-block;
            vertical-align: middle;
        }

        .pagination li.active {
            background-color: #03a9f4;
        }

        .pagination li.disabled a {
            color: #999999;
        }

        .pagination li a {
            color: #000000;
        }

        .col-padding {
            padding: 35px 50px;
        }
        .ignore-col-padding {
            padding: -35px -50px;
        }

        .flex-container {
            display: flex;
            width: 100%;
            flex-flow: row wrap;
        }

        .flex-item {
            display: inline-block;
        }

        // Materialize small
        @media only screen and (max-width: 600px) {
            .flex-item {
                width: 100%;
            }
        }

        // Materialize medium
        @media only screen and (min-width: 601px) {
            .flex-item {
                width: 50%;
            }
        }

        // Materialize large
        @media only screen and (min-width: 993px) {
            .flex-item {
                width: 33.33%;
            }
        }
    </style>
    <nav class="blue-grey darken-2 white-text center-align" style="position: fixed; width: 70px; height: 100%; top: 0; left: 0;">
        <ul class="no-list-float" style="list-style: none; padding: 0px; text-indent: 0px;">
            <li><a href="{{ .Site.BaseURL }}"><i class="fa fa-home fa-2x"></i></a></li>
            <li><a href="#"><i class="fa fa-search fa-2x"></i></a></li>
            <li><a href="#"><i class="fa fa-rss fa-2x"></i></a></li>
        </ul>
    </nav>

    <section style="padding-left: 70px; width: 100%;">
        {{ $pages := .Paginator.Pages }}
        <div class="flex-container white black-text">
            {{ range $pages }}
                <div class="flex-item">
                    {{ partial "page-item.html" . }}
                </div>
            {{ end }}
        </div>
        <ul class="pagination">
            {{ with .Paginator }}
            <li class="{{ if .HasPrev }}waves-effect{{ else }}disabled{{ end }}">
                <a href="{{ if .HasPrev }}{{ .Prev.URL }}{{ else }}#!{{ end }}">
                    <i class="fa fa-angle-left"></i>
                </a>
            </li>
            {{ $currentPageNumber := .PageNumber }}
            {{ range .Pagers }}
                <li class="{{ if eq $currentPageNumber .PageNumber }}active{{ else }}waves-effect{{ end }}">
                    <a href="{{ .URL }}">{{ .PageNumber }}</a>
                </li>
            {{ end }}
            <li class="{{ if .HasNext }}waves-effect{{ else }}disabled{{ end }}">
                <a href="{{ if .HasNext }}{{ .Next.URL }}{{ else }}#!{{ end }}">
                    <i class="fa fa-angle-right"></i>
                </a>
            </li>
            {{ end }}
        </ul>
    </section>

    {{ partial "js.html" . }}
    {{ partial "masonry.html" . }}
    <script>
        var $container = $(".flex-container").imagesLoaded(function() {
            $container.masonry({
                itemSelector: ".flex-item",
                columnWidth: ".flex-item",
                percentPosition: true
            });
        });
    </script>
</body>

{{ partial "html-end.html" . }}

