{{ partial "html-start.html" . }}

{{ partial "head.html" . }}

<body class="page-colors minimum-viewport-height">
    {{ partial "main-menu.html" . }}

    <div class="main-content">
        <div class="center-space">
            <div class="article-colors">
                {{ with .Params.image }}
                    <img src="{{ . }}" class="fill-container-width"></img>
                {{ end }}
                <article>
                    <header>
                        <h1 class="article-title">{{ .Title }}</h1>
                        <time>{{ .Date.Format "Mon Jan 2, 2006" }}</time>
                    </header>

                    <hr>

                    <section>
                        {{ with .Params.redirect }}
                            <p>If you are not redirected automatically, follow the <a href="{{ . }}">link</a>.</p>
                        {{ else }}
                            {{ .Content }}
                        {{ end }}
                    </section>

                    <footer class="right-align">
                        <p><small>{{ .Site.Copyright | markdownify }}</small></p>
                    </footer>
                </article>
            </div>
        </div>
    </div>

    {{ partial "js.html" . }}
</body>

{{ partial "html-end.html" . }}

