{{ partial "html-start.html" . }}

{{ partial "head.html" . }}

<body>
    {{ partial "main-menu.html" . }}

    <div class="main-content">
        {{ with .Params.image }}
            <img src="{{ . }}" style="width: 100%; height: auto;"></img>
        {{ end }}

        <div class="center-space">
            <article>
                <header>
                    <h2>{{ .Title }}</h2>
                </header>

                <hr>

                <section>
                    {{ .Content }}
                </section>

                <footer>
                    {{ .Date.Format "Mon Jan 2, 2006" }}
                </footer>
            </article>
        </div>
    </div>

    {{ partial "js.html" . }}
</body>

{{ partial "html-end.html" . }}

