{{ partial "core/html-start.html" . }}
{{ partial "core/head.html" . }}
<!-- Event snippet for Lead conversion page -->
<script>
  gtag('event', 'conversion', {'send_to': 'AW-951319665/95l-CNH49acBEPH4z8UD'});
</script>


<body class="page-colors minimum-viewport-height">
    {{ partial "core/main-menu.html" . }}

    <section class="main-content">
        {{ .Content }}
<br>
        <div class="form-style rounded-corners rounded-corners-top rounded-corners-bottom">
        	<h5>Thanks for submitting your request! I'll be in touch within 24 hours to discuss your project. </h5>
        </div>

    </section>

    {{ partial "core/js.html" . }}
</body>

{{ partial "core/html-end.html" . }}

