<a href="{{ .link }}">
    <div class="cell col 
        s{{ with .Size.small }}{{ . }}{{ else }}12{{ end }}
        m{{ with .Size.medium }}{{ . }}{{ else }}6{{ end }}
        l{{ with .Size.large }}{{ . }}{{ else }}4{{ end }}
        no-padding
        {{ if .image }}fullsize-background-image{{ end }}
    " style="
        {{ with .image }}
            background-image: url({{ . }});
        {{ else }}
            background-color: {{ .color }};
        {{ end }}

        {{ with .image_position }}
`   

        height: {{ with .height }}
            {{ . }}
        {{ else }}
            33vh
        {{ end }};
    ">
        {{ if eq .always_show_text true }}
            {{ partial "cell-text.html" . }}
        {{ end }}

        <div class="highlight-block">
            {{ partial "cell-text.html" . }}
        </div>
    </div>
</a>

