<a href="{{ if .disable }}#!{{ else }}{{ .link }}{{ end }}" class="flex-item">
    <div class="cell
        fill-container
        no-padding
        {{ if or .grayscale .disable }}grayscale{{ end }}
        {{ if .disable }}no-change-on-hover{{ end }}
        {{ if .image }}fullsize-background-image{{ end }}
    " style="
        {{ with .image }}
            background-image: url({{ . }});
        {{ else }}
            background-color: {{ .color }};
        {{ end }}

        {{ with .image_position }}
            background-position: {{ . }};
        {{ end }}

        height: {{ with .height }}
            {{ . }}
        {{ else }}
            33.33vh
        {{ end }};
    ">
        <!-- Show text permanently -->
        {{ if eq .always_show_text true }}
            <div class="center-items center-text fill-container black-overlay">
                <h3 class="white-text">{{ .name }}</h3>
            </div>
        {{ end }}

        {{ if not (or (eq .no_highlight true) .disable) }}
            <div class="highlight-block">
                <h3 class="white-text">{{ .name }}</h3>
            </div>
        {{ end }}
    </div>
</a>

