{{ if .Site.DisqusShortname }}
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = '{{ .Site.DisqusShortname }}';
        var disqus_identifier = '{{ with .GetParam "disqus_identifier" }}{{ . }}{{ else }}{{ .Permalink }}{{ end }}';
        var disqus_title = '{{ with .GetParam "disqus_title" }}{{ . }}{{ else }}{{ .Title }}{{ end }}';
        var disqus_url = '{{ with .GetParam "disqus_url" }}{{ . | html  }}{{ else }}{{ .Permalink }}{{ end }}';
        (function() {
            // Avoid adding localhost comment sections to Disqus account
            if (window.location.hostname === "localhost") {
                return;
            }

            var dsq = document.createElement('script'); 
            dsq.type = 'text/javascript'; 
            dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';

            (document.getElementsByTagName('head')[0] || 
                document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
{{end}}

