<header>
    <div class="parallax-container" style="height: 100vh;">
        <div class="parallax">
            {{ if .image }}
                <img src="{{ .image }}" style="z-index: -1;"></img>
                {{ partial "header-logo.html" . }}
            {{ else }}
                <div style="
                    position: relative;
                    display: block;
                    background-color: {{ .color }};
                    height: 100%;
                    z-index: -1;
                ">
                    {{ partial "header-logo.html" . }}
                </div>
            {{ end }}
        </div>
    </div>
</header>

