<!-- NOTE: Must be at root level for firefox to work (cannot wrap in header) -->
<div class="parallax__group">
    <div class="parallax__layer parallax__layer--base">
        {{ partial "header-logo.html" . }}
    </div>
    <div class="parallax__layer parallax__layer--back"
        {{ if .image }}
            style="background-image: url('{{ .image }}'); background-size: cover; background-repeat: no-repeat;"
        {{ else }}
            style="background-color: {{ .color }}"
        {{ end }}
    ></div>
</div>

