<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

{{ partial "head.html" . }}

<body class="blue-grey darken-2">
    <div class="row" style="margin-bottom: 0px;">
        {{ with .Site.Params.Header }}
            {{ partial "header.html" . }}
        {{ end }}

        {{ with .Site.Params.About }}
            <div class="col s12 blue-grey darken-2 white-text center-align">
                <h2>
                    <ul class="horizontal no-bullets" style="margin: 0 auto;">
                        <li><i class="large material-icons">{{ .icon }}</i></li>
                        <li>About Me</li>
                    </ul>
                </h2>
            </div>
        {{ end }}

        {{ range .Site.Params.Cells.List }}
            {{ partial "cell.html" . }}
        {{ end }}

        {{ with .Site.Params.Footer }}
            <div class="col s12 blue-grey darken-2 white-text right-align">
                <ul class="horizontal no-bullets">
                    {{ range .List }}
                        <li>
                            <a href="{{ .icon_link }}" class="white-text">
                                <i class="fa fa-{{ .icon_class }} fa-2x"></i>
                            </a>
                        </li>
                        <li><span style="font-size: 2em;">|</span></li>
                    {{ end }}
                    <li><span style="font-size: 2em;">Copyright &#169; by {{ .name }}</span></li>
                </ul>
            </div>
        {{ end }}
    </div>

    {{ partial "js.html" . }}
</body>

</html>

