
{{ $url := $.Site.BaseURL }}
{{ $image := .Params.image | urlize }}
{{ $title := .Title }}
{{ $summary := .Summary }}
{{ $link := .Permalink }}
<!-- TODO: Figure out why line height causes issues here -->
<div class="flex-item flex-item-spacing no-line-height">
    <div class="relative rounded-corners z-depth-1 lazyload" data-noscript="">
        <noscript>
            <a href="{{ $link }}">

                <img src="{{ $image }}" class="fill-container-width rounded-corners z-depth-1" />
                <div class="highlight-block rounded-corners">
                    <h3 class="white-text">{{ $title }}</h3>
                </div>
            </a>
        </noscript>
    </div>
</div>

