
{{ $url := $.Site.BaseURL }}
{{ $image := .Params.image | urlize }}
{{ $title := .Title }}
{{ $summary := .Summary }}
{{ $link := .Permalink }}
<!-- TODO: Figure out why line height causes issues here -->
<div class="flex-item flex-item-spacing no-line-height">
    <div class="relative lazyload" data-noscript="">
        <noscript>
            <a href="{{ $link }}">
                <div class="project-container rounded-corners z-depth-1">
                    <div class="project-container-image rounded-corners-top">
                        <img src="{{ $image }}" class="fill-container-width rounded-corners-top" />
                    </div>
                    <div class="rounded-corners-bottom center-text project-container-title">
                        <h4 class="white-text">{{ $title }}</h4>
                        {{ partial "extra/categories.html" . }}
                        <span class="separator">|</span>
                        {{ partial "extra/tags.html" . }}
                    </div>
                </div>
            </a>
        </noscript>
    </div>
</div>

