<!-- NOTE: Must be at root level for firefox to work (cannot wrap in header) -->
<div class="parallax__group">
    <div class="parallax__layer parallax__layer--base">
        {{ partial "homepage/header-logo.html" . }}
    </div>
    <div class="parallax__layer parallax__layer--back {{ if .image }}fullsize-background-image{{ end }}"
        {{ if .image }}
            style="background-image: url('{{ .image }}'); {{ with .image_position }}background-position: {{ . }};{{ end }}"
        {{ else }}
            style="background-color: {{ .color }}"
        {{ end }}
    ></div>
</div>

