{{ partial "core/html-start.html" . }}

{{ partial "core/head.html" . }}

<body class="page-colors">
    <div class="parallax">
        {{ with .Site.Params.Header }}
            {{ partial "homepage/header-scrolling.html" . }}
        {{ end }}

        <div class="parallax__group parallax__group--auto-height">
            <div class="parallax__layer parallax__layer--base">
                <div class="row-colors center-align">
                    <h2 class="no-margin">
                        <ul class="horizontal no-bullets no-margin">
                            <li>{{ partial "homepage/svg-face.html" . }}</li>
                            <li>About Me</li>
                        </ul>
                    </h2>
                </div>

                <div class="flex-container">
                    {{ range .Site.Params.Cells.List }}
                        {{ partial "homepage/cell.html" . }}
                    {{ end }}
                </div>

                {{ with .Site.Params.Footer }}
                    <div class="row-colors right-align">
                        <ul class="main-page-footer horizontal no-bullets no-margin">
                            {{ range .List }}
                                <li>
                                    <a href="{{ .icon_link }}">
                                        <i class="fa fa-{{ .icon_class }}"></i>
                                    </a>
                                </li>
                                <li>|</li>
                            {{ end }}
                            <li>{{ $.Site.Copyright | markdownify }}</li>
                        </ul>
                    </div>
                {{ end }}
            </div>
        </div>
    </div>

    {{ partial "core/js.html" . }}
</body>

{{ partial "core/html-end.html" . }}

